.gral{
    width: auto;
    height: auto;
    /* background-position: right;
    background-position-y: bottom; 
    text-align: center;
    background-repeat: no-repeat;
    position: relative; */
    background-color: #c6c6c6;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 'none';
    padding: 0;
    margin: 0;
}

.gral h1{
    margin-top: 0;
    padding-top: 0;
    color:#5c5c5c;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    justify-content: space-around;
    background-color: #FAFAED;
    border-color: #7A7A72;
    color: #7A7A72;
    border-radius: 0.5rem;
    border-style: solid;
    cursor: pointer;
    padding: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    text-decoration-style: none;
    margin: 1rem;

}
.button1{
    justify-content: space-around;
    background-color: #FAFAE8;
    border-color: #7A7A72;
    color: #7A7A72;
    border-radius: 0.5rem;
    border-style: solid;
    cursor: pointer;
    padding: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;
}
.select{
    background-color: #FAFAED;
    color:#7A7A72;
    border-style: solid;
    border-color: #7A7A72;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: .4rem;
}
.divcard{
    max-height: 150vh;
    max-width: 100vw;
    padding: 0;
    justify-content: center;
    align-content: center;
    margin-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.tit{
    flex-direction: column;
    color:#5c5c5c;
}
.divgral{
    display: flex;
    justify-content: space-evenly;
}
.paginado{
    width: 100vw;
    height: 10vh;
    position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #c6c6c6;;
    margin: 0;
    padding: 0;
}
/*
colores
BABAAD gris 50
7A7A72  gris 70
FAFAED cremita
3B3B37 gris oscuro
E0E0D1 gris verdoso
*/