.Pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* width: 100vw; */
}
.Number{
    list-style: none;
    
}
.btna{
    /* justify-content: space-around; */
    background-color: #FAFAED;
    border-color: #7A7A72;
    color: #7A7A72;
    border-radius: 0.5rem;
    border-style: solid;
    cursor: pointer;
    padding: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration-style: none;
    margin: 0.3rem;
    
}

/*
colores
BABAAD gris 50
7A7A72  gris 70
FAFAE8 cremita
3B3B37 gris oscuro
E0E0D1 gris verdoso
*/